<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="DBAudits" value="C:/Users/38160/Desktop/faks/vp/Projekat/ProjekatVP/projkeatvp/Service/DataBase/TBL_AUDIT.xml"/>
		<add key="DBLoads" value="C:/Users/38160/Desktop/faks/vp/Projekat/ProjekatVP/projkeatvp/Service/DataBase/TBL_LOAD.xml"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Service.FileTransportService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint address="IFileTransport" binding="netTcpBinding" contract="Common.IFileTransport"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
