<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="CsvDirektorijum" value="C:/Users/38160/Desktop/faks/vp/Projekat/ProjekatVP/projkeatvp/UI/CSVFiles/data.csv"/>
		<add key="TxtDirektorijum" value="C:/Users/38160/Desktop/faks/vp/Projekat/ProjekatVP/projkeatvp/UI/TXTFiles/"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint name="Server"
			address="net.tcp://localhost:4000/IFileTransport"
			binding="netTcpBinding"
			contract="Common.IFileTransport"/>
		</client>
	</system.serviceModel>
</configuration>
